<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Hiroto Template" />
    <meta name="keywords" content="Hiroto, unica, creative, html" />
    <meta name="viewport" content="width=dev-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>HotelBooking</title>

    <!-- icon web -->
    <link rel="icon" href="/client/img/iconlogo.png" />

    <!--boxi icon -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/client/css/elegant-icons.css"
      type="text/css"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="/client/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/client/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/client/css/header-bootstrap.css"
      type="text/css"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/client/css/owl.carousel.min.css"
      type="text/css"
    />

    <link rel="stylesheet" href="/client/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/client/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/client/css/room.css" type="text/css" />
    <link rel="stylesheet" href="/client/css/my-booking.css" type="text/css" />

    <!-- toast -->
    <link rel="stylesheet" href="/client/css/toastr.css" type="text/css" />
  </head>

  <body>
    <div class="loading">
      <div class="loader"></div>
    </div>
    <div id="header">
      <div class="header-nav">
        <div class="header-logo">
          <img src="/client/img/mylogo.svg" alt="" class="logo" />
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/" class="nav-link-nb">Trang chủ</a>
          </li>

          <li class="nav-item">
            <a href="/rooms" class="nav-link-nb">Phòng</a>
          </li>
          <li class="nav-item">
            <a href="/hotel" class="nav-link-nb nav-link-nb-main">Thông tin</a>
          </li>
          <li class="nav-item">
            <a href="/location" class="nav-link-nb">Vị trí</a>
          </li>
        </ul>
      </div>
      <div class="header-account">
        <a class="btn-login btn-account" href="/login"
          ><i class="bx bx-user"></i>Đăng nhập
        </a>
        <a class="btn-register btn-account" href="/register">Đăng ký </a>
      </div>
    </div>
    <div style="height: 250px" id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h5 style="font-size: 30px; color: #fff; font-weight: bold">
                  Tìm phòng nhanh chóng, dễ dàng và tiện lợi ở hotel HUFLIT
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Rooms Section Begin -->
    <section class="about spad">
      <div class="container">
        <div class="about__content">
          <div class="row">
            <div class="col-lg-5">
              <div class="section-title">
                <h5>Thông tin Huflit Hotel</h5>
                <h2>Welcome Huflit Hotel</h2>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="about__text">
                <p>
                  Huflit Hotel là một khách sạn hiện đại cung cấp nhiều dịch vụ
                  nhằm mang lại cho quý khách những trải nghiệm tốt nhất là
                  tuyệt vời nhất
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="services__item">
              <img src="/client/img/services-1.png" alt="" />
              <h4>Wi-fi miễn phí</h4>
              <p>
                Wifi miễn phí với tốc độ cao được trang bị hầu hết ở các phòng
                để phục vụ quý khách 1 cách tốt nhất
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="services__item">
              <img src="/client/img/services-2.png" alt="" />
              <h4>Hồ bơi cao cấp</h4>
              <p>
                Hồ bơi cao cấp được mở quanh năm, view đẹp, trang bị khăn trên
                hồ bơi, ghế dài tắm nắng
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="services__item">
              <img src="/client/img/services-3.png" alt="" />
              <h4>Quán Cafe Đẹp</h4>
              <p>
                Quán cafe ở Huflit mang lại một cảm giác thoải mái với view biển
                đẹp, chất lượng dịch vụ tốt, giá thành hợp lý
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="services__item">
              <img src="/client/img/services-4.png" alt="" />
              <h4>Quầy bar</h4>
              <p>
                Quán bar thể thao, bàn ghế được bố trí đơn giản và trang bị
                nhiều màn hình tivi to để truyền hình trực tiếp các trận thi đấu
                thể thao nổi tiếng
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="services__item">
              <img src="/client/img/services-5.png" alt="" />
              <h4>TV HD</h4>
              <p>
                Tivi to mang lại cho quý khách trải nghiệm hình ảnh một cách
                tuyệt vời nhất
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="services__item">
              <img src="/client/img/services-6.png" alt="" />
              <h4>Nhà hàng</h4>
              <p>
                Nhà hàng Opera: Là nhà hàng Ý mang phong cách trattoria truyền
                thống nằm ở tầng trệt khách sạn
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!--==================================== -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>

    <!-- Js Plugins -->

    <!-- <script src="/client/js/jquery-3.3.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="/client/js/jquery.slicknav.js"></script>
    <script src="/client/js/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- toast -->
    <script src="/client/js/toastr.js"></script>

    <script src="/client/js/main.js"></script>
    <script src="/client/js/header.js"></script>
    <script src="/client/js/room.js"></script>
    <script src="/client/js/setheader.js"></script>
  </body>
</html>
