<div id="header">
  <div class="header-nav">
    <div class="header-logo">
      <img src="/client/img/mylogo.svg" alt="" class="logo" />
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/" class="nav-link-nb">Trang chủ</a>
      </li>

      <li class="nav-item">
        <a href="/rooms" class="nav-link-nb nav-link-nb-main">Phòng</a>
      </li>
      <li class="nav-item">
        <a href="/checkout" class="nav-link-nb">Đặt phòng</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link-nb">Giới thiệu</a>
      </li>
      <!-- <li class="nav-item">
        <a href="/login" class="nav-link-nb">Đăng nhập</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link-nb">Đăng ký</a>
      </li> -->
    </ul>
  </div>
  <div class="header-account">
    <!-- đã login -->
    <div class="btn-account login-success">
      <span class="username">Hello Khang</span>
      <i class="bx bx-user-check"></i>
      <div class="account-info hide-if">
        <div class="arrow-up"></div>
        <ul class="list-info">
          <li><a href="/cart">Giỏ hàng</a></li>
          <li><a href="/info">Thông tin</a></li>
          <li><a href="/list-room">Phòng đã đặt</a></li>
          <li><a href="/logout">Đăng xuất</a></li>
        </ul>
      </div>
    </div>

    <!-- Chưa login -->
    <!-- <a class="btn-login btn-account" href="/login"
      ><i class="bx bx-user"></i>Đăng nhập
    </a>
    <a class="btn-register btn-account" href="/login">Đăng ký </a> -->
  </div>
</div>
