<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">Student Manager</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Trang chủ</span>
          </a>
        </li>
        <li>
          <a href="/testdb">
            <i class="bx bx-box"></i>
            <span class="links_name">Test DB</span>
          </a>
        </li>
        <li>
          <a href="/student">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Học sinh</span>
          </a>
        </li>
        <li>
          <a href="/class">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Lớp học</span>
          </a>
        </li>
        <li>
          <a href="/admissions">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">Tuyển sinh</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-book-alt"></i>
            <span class="links_name">Total order</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-message"></i>
            <span class="links_name">Messages</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-heart"></i>
            <span class="links_name">Favrorites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- <script>
      let tabs = document.querySelectorAll('li a');
      tabs.forEach((tab, index) => {
        tab.onclick = (e) => {
          e.stopImmediatePropagation();
          tab.classList.add('active');
        };
      });
    </script> -->
  </body>
</html>
