<h1>đặt phòng trực tiếp</h1>
<script>
  let listText = document.querySelectorAll(
    '.navbar-vertical .navbar-nav>.nav-item .nav-link'
  );
  listText.forEach((item) => {
    if (
      item.classList.contains('active') &&
      item.classList.contains('bg-gradient-primary')
    )
      item.classList.remove('active');
    item.classList.remove('bg-gradient-primary');
  });
  document.querySelector('.nav-booking').classList.add('active');
  document.querySelector('.nav-booking').classList.add('bg-gradient-primary');
</script>
