<!-- boostrap 5 -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://kit.fontawesome.com/1ca5983c13.js"
  crossorigin="anonymous"
></script>
<!-- jquery database -->
<link
  rel="stylesheet"
  href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
/>
<style>
  a {
    text-decoration: none;
  }
  .btn {
    padding: 0.625rem 1.5rem;
    background-color: #e91e63;
  }
  .btn:hover,
  .btn:focus,
  .btn:active {
    background-color: #ec437c;
  }
  .befn::before {
    display: none !important;
  }
  .befn::after {
    display: none !important;
  }

  .form-label {
    font-weight: bold;
  }
  .ip-check {
    display: '';
  }
  .none-ele {
    display: none;
  }

  /* Dropdown */

  .dropdown-cus {
    display: inline-block;
    position: relative;
  }

  .dd-button {
    display: inline-block;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    cursor: pointer;
    white-space: nowrap;
  }
  .dd-button i {
    color: #6b6e72;
  }

  /* .dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
} */

  /* .dd-button:hover {
  background-color: #ebdddd;
} */

  .dd-input {
    display: none;
  }

  .dd-menu {
    width: 110px;
    position: absolute;
    z-index: 2222222;
    top: calc(100% + 5px);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
    text-align: center;
  }

  .dd-input + .dd-menu {
    display: none;
  }

  .dd-input:checked + .dd-menu {
    display: block;
  }

  .dd-menu li {
    cursor: pointer;
    white-space: nowrap;
  }

  .dd-menu li:hover {
    background-color: #f6f6f6;
  }

  .dd-menu li a {
    display: block;
    padding: 10px 0;
  }

  .dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
</style>
<h4>Thêm phòng</h4>
<div class="row">
  <div style="margin: 0 auto" class="col-md-8 col-sm-8">
    <form method="post" name="formCreate" action="/admin/room/create" class="row g-3">
      <div class="col-md-12">
        <label for="typeID" class="form-label">Loại phòng</label>
        <select name="typeID" id="typeID" class="form-select">
            <% for(var i=0; i<data.length; i++) {%>
                <option value="<%= data[i].typeID %>"><%= data[i].nameType %></option>
         <%}%>
         
        </select>
      </div>
      <div class="col-md-6">
        <label for="amount" class="form-label">Số lượng</label>
        <input
          type="number"
          required
          min="1"
          max="20"
          class="form-control"
          name="amount"
        />
      </div>
      <div class="col-md-6">
        <label for="floor" class="form-label">Tầng</label>
        <input
          type="number"
          required
          min="1"
          max="20"
          class="form-control"
          name="floor"
        />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Thêm phòng</button>
      </div>
    </form>
  </div>
</div>

<!-- nhúng jquery và dataTables -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<!-- thiết lập ngày tháng và lọc data -->
<script>
  $(document).ready(() => {
    $('#table_id').DataTable({});
  });
</script>
<!-- thiết lập front end -->
<script>
  let listText = document.querySelectorAll(
    '.navbar-vertical .navbar-nav>.nav-item .nav-link'
  );
  listText.forEach((item) => {
    if (
      item.classList.contains('active') &&
      item.classList.contains('bg-gradient-primary')
    )
      item.classList.remove('active');
    item.classList.remove('bg-gradient-primary');
  });
  document.querySelector('.nav-room-m').classList.add('active');
  document.querySelector('.nav-room-m').classList.add('bg-gradient-primary');

  document.querySelector(
    '.breadcrumb-item.text-sm.text-dark.active'
  ).textContent = 'Thêm phòng';
  document.querySelector('.breadcrumb-item a').textContent = 'Phòng';
  document
    .querySelector('.breadcrumb-item a')
    .setAttribute('href', '/admin/room');
</script>
